<h1>Chat Page</h1>

<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Write your new post here: </label>
      <input type="text" id="post-text" name="post-text" />
      <button type="submit" class="btn">Post</button>
      {{post_text}}
    </div>
  </form>
</section>

<ol class="post-list">
{{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="text">
        <p>{{post_text}}</p>
      </div>
      <div class="meta">
        By {{post.staff.first_name}} {{post.staff.last_name}} on
        {{format_date created_at}} | {{liked_count}} {{format_plural "like" liked_count}}
        |
        <p>{{comments.length}} {{format_plural "comment" comments.length}}</p>
      </div>
    </article>
  </li>
  {{/each}}
</ol>

<script src="/javascript/chat.js" ></script>