<div class="container-fluid">
        <div class="row">    
            <div id="admin-sidebar" class="col-md-2 p-x-0 p-y-3">
                <ul class="sidenav admin-sidenav list-unstyled">
                    <li><h4><a href="#">View all customers</a></h4></li>
                    <li><h4><a href="#">View food packages</a></h4></li>                 
                </ul>
            </div> 
            <div id="admin-main-control" class="col-md-10 p-x-3 p-y-1">

                <div class="main-content">
                    <h3>Welcome back to your dashboard, {{staff.first_name}}!</h3>

                    <p>First &#38; Last Name: {{staff.first_name}} {{staff.last_name}}</p>
                    <p>Employee Number: {{staff.staff_number}}</p>
                    <p>Email: {{staff.email}}</p>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascript/dashboard.js" ></script>
